<div class="container">
<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed %>
  <p><i class="fas fa-check-square"></i> <%= link_to task.title, task_path(task) %> - <%= link_to '🗑', task_path(task), method: :delete, data: { confirm: "Do you really want to delete the #{task.title} task?"} %></p>
  <% else %>
  <p><i class="fas fa-stop"></i> <%= link_to task.title, task_path(task) %> -  <%= link_to '🗑', task_path(task), method: :delete, data: { confirm: "Do you really want to delete the #{task.title} task?"} %></p>
  <% end %>
<% end %>
<hr>
<%= link_to '📄 Create a task', new_task_path %>
</div>
